header{
    background-color: gray;
    width: 100%; 
    height: 120px;
    position: relative;
    position: fixed;
    clear:both;
}

@font-face{
    font-family:'Tomeric';
    src: url(Fonts/The\ Northern\ Block\ Ltd\ -\ Tomarik\ Introvert.otf);
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: 'Showcase';
    src: url(Fonts/Latinotype\ -\ ShowcaseSansMini.otf);
    font-style: normal;
    font-weight: normal;
}
 

#shipping_policy{
    background-color: #88C200;
    height:50px;
    color: white;
    font-size:12px;
    text-align:center;
    position: absolute;
    top: 0px;
    left:0px;
    right:0px;
    font-family: 'Tomeric', sans-serif, Arial;
    clear:both;
}

#shipping_policy>h2{
    position: absolute;
    top: -9px;
    right: 20%;
}

nav {
    background-color: white;
    height:80px;
    color: black;
    font-size:18px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom:0px;
    /*text-align:center;*/
    clear:both;
}

#logo{
    /*float:left;*/
    position: absolute;
    left: 3px;
    bottom:0px;
    top:-43px
}

ul {
    position: absolute;
    top:10%;
    left: 10%;
}

li {
    display:inline;
    list-style:none;
    padding: 30px;
    font-size:20px;  
    text-align:left;
}
.nav_item{
    color:black;
    text-decoration:none;
    font-family: 'Tomeric', sans-serif, Arial;
}
body {
    background-color:white;
}

.content_intro{
    position: absolute;
    top:45%;
    right:30%;
    text-align: center;
    font-family:'Tomeric', sans-serif, Arial;
    color:black;
    clear:both;
}
.content_intro>h2{
    font-size: 35px;
}

.content_intro>p{
    font-size: 20px;
}

.about{
    background-color: grey;
    width: 100%;
    height: 360px;
}

.pantry{
    background-color: orange;
    width: 100%;
    height: 360px;
}




