header{
    background-color: gray;
    width: 100%; 
    height: 120px;
    position: relative;
    position: fixed;
    clear:both;
    z-index: 1;
}

@font-face{
    font-family:'Tomeric';
    src: url(Fonts/The\ Northern\ Block\ Ltd\ -\ Tomarik\ Introvert.otf);
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: 'Showcase';
    src: url(Fonts/Latinotype\ -\ ShowcaseSansMini.otf);
    font-style: normal;
    font-weight: normal;
}
 

#shipping_policy{
    background-color: #88C200;
    height:50px;
    color: white;
    font-size:12px;
    text-align:center;
    position: absolute;
    top: 0px;
    left:0px;
    right:0px;
    font-family: 'Tomeric', sans-serif, Arial;
    clear:both;
}

#shipping_policy>h2{
    position: absolute;
    top: -9px;
    right: 20%;
}

nav {
    background-color: white;
    height:80px;
    color: black;
    font-size:18px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom:0px;
    /*text-align:center;*/
    clear:both;
}

#logo{
    /*float:left;*/
    position: absolute;
    left: 3px;
    bottom:0px;
    top:-43px;
}

ul {
    position: absolute;
    top:10%;
    left: 10%;
}

li {
    display:inline;
    list-style:none;
    padding: 30px;
    font-size:20px;  
    text-align:left;
}
.nav_item{
    color:black;
    text-decoration:none;
    font-family: 'Tomeric', sans-serif, Arial;
}
body {
    background-color:white;
}

.content_intro{
    position: absolute;
    top:45%;
    right:30%;
    text-align: center;
    font-family:'Tomeric', sans-serif, Arial;
    color:black;
    clear:both;
}
.content_intro>h2{
    font-size: 35px;
}

.content_intro>p{
    font-size: 20px;
}

.divided_section{
    background-color: grey;
    width: 100%;
    height: 390px;
    position: relative;
 
}

.divided_section_content{
    background-color:white;
    width: 50%;
    height: 390px;
    position: absolute;
    left:0px;
    top:0px;
    color: black;
    font-family: 'Tomeric', sans-serif, Arial;
    font-size: 15px;
    text-align: center;
}
.divided_section>img{
    float: right;
}
#button{
    text-decoration:none;
    font-family: 'Tomeric', sans-serif, Arial;
    color: #88C200;
    font-size: 15px; 
    border: 1px solid #88C200;
    padding: 10px;
    border-radius: 7px;

}
.default_section{
    background-color: white;
    width: 100%;
    height: 390px;
    color: black;
    font-family: 'Tomeric', sans-serif, Arial;
    font-size: 13px;
    text-align: center;
    position: relative;
}

.default_section>p {
    position: absolute;
    top:20px;
    left:548px;
    
}

#title{
    color: #88C200;
    font-size: 25px;
    font-family: 'Tomeric', sans-serif, Arial;
    text-align: center;
    margin: 20px;

}

.default_section>img{
    display:inline;
    border: 1px solid lightgrey;
    padding: 5px;
    margin: 10px;
}

.white_space{
    background-color: white;
    width: 100%;
    height: 70px;
}

#P_Treat_Your_Inbox{
    position: absolute;
    top:30px;
    left:540px;
    font-size:18px;
    
}

footer{
    background-color: white;
    width: 100%;
    height: 150px;
    border: 2px solid lightgrey; 
    position: relative;
    font-family: 'Tomeric', sans-serif, Arial;
    color:black;
    font-size: 15px;
    
}

.footer_menu{
position: absolute;
text-align: right;
top:-27px;
right:10px;
left:600px;
font-size:15px;
padding:0px;
}

.li_footer{
    list-style:none;
    display:block;
    padding:2px;
    font-size:13px;
    text-align: right;
}

footer>a {
    text-align:center;
    position: absolute;
    left:600px;
    top:-30px;
}
footer>img {
    text-align:center;
    position: absolute;
    left:1210px;
    top:69px;
}

footer>section{
    text-align: left;
    font-size: 15px;
    position: absolute;
    left: 10px;
    top:0px;
}



.about_top{
    position: relative;
    clear:both;
}

.about_top>h1{
    text-align:center;
    font-size: 25px;
    position: absolute;
    top:-120px;
    left:600px;
    font-family: 'Tomeric', sans-serif, Arial;
    color:#88C200;
}

.about_top>article{
    position: absolute;
    color:black;
    font-family: 'Tomeric', sans-serif, Arial;
    font-size: 17px;
    text-align: center;
    top:-40px;
    left:400px;
}

.about_bottom{
    position: relative;
    clear:both;
}

.about_bottom>h1{
    text-align:left;
    font-size: 22px;
    position: absolute;
    top:-20px;
    left:100px;
    font-family: 'Tomeric', sans-serif, Arial;
    color:#88C200;
}
.about_bottom>img{
    position: absolute;  
    right: 90px;
    border: 5px double #88C200;
    top:-24px;
}
.about_bottom>article{
    position: absolute;
    color:black;
    font-family: 'Tomeric', sans-serif, Arial;
    font-size: 15px;
    text-align: left;
    top:45px;
    left:100px;
}

h1 {
    color: #88C200;
    font-size: 25px;
    font-family: 'Tomeric', sans-serif, Arial;
    text-align: left;
    margin:40px;
}

article{
    color: black;
    font-size: 15px;
    font-family: 'Tomeric', sans-serif, Arial;
    text-align: left;   
}

Input{
    width: 40%;
    padding: 15px 20px;
    margin: 0px 0;
    border: 1px solid black;
    border-radius: 10px;
    font-family: 'Tomeric', sans-serif, Arial;
    font-size:15px;
    
}

Input[type=submit] {
    width: 8%;
    padding: 12px 20px;
    margin: 10px 2;
    background-color: white;
    font-family: 'Tomeric', sans-serif, Arial;
    color: #88C200;
    font-size: 15px; 
    border: 1px solid #88C200;
    padding: 10px;
    border-radius: 9px;
    
}

Input[type=message]{
    width: 40%;
    height: 100px;
    padding: 15px 20px;
    margin: 0px 0;
    border: 1px solid black;
    border-radius: 10px;
    font-family: 'Tomeric', sans-serif, Arial;
    font-size:15px;
    
}

.cart > a {
    color:black;
    text-decoration:none;
    font-family: 'Tomeric', sans-serif, Arial;
    position: absolute;
    right: -640px;
}

#button:hover  {
    background-color: #88C200;
    color:white;
}

.nav_item:hover,.cart:hover{
    color:#88C200;
}